<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>Tuotelista</title>
</head>
<body>
	<h1>Tuotteet</h1>
	
	<a sec:authorize="hasAuthority('ADMIN')" href="/addTuote" class="btn btn-primary">Lisää tuote</a>
	<table>
		<tbody>
		<tr>
	<th>Nimi</th>
	<th>Väri</th>
	<th>Valmistaja</th>
	<th>Julkaisuvuosi</th>
	<th>Hinta</th>
	</tr>
			<tr th:each = "tuote: ${Tuotteet}">
				<td th:text="${tuote.nimi}"></td>
				<td th:text="${tuote.vari}"></td>
				<td th:text="${tuote.valmistaja.nimi}"></td>
				<td th:text="${tuote.julkaisupaivamaara}"></td>
				<td th:text="${tuote.hinta}"></td>
				
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editTuote/{id}(id=${tuote.id})}"
					class="btn btn-primary" >Muokkaa</a></td>
					
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteTuote/{id}(id=${tuote.id})}"
					class="btn btn-danger">Poista</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/index" class="btn btn-primary">Takaisin</a>
</body>
</html>