<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>Tuotelista</title>
</head>
<body>
	<h1>Tuotteet</h1>
	<table>
		<tbody>
		<tr>
	<th>Nimi</th>
	<th>Väri</th>
	<th>Valmistaja</th>
	<th>Julkaisuvuosi</th>
	<th>Hinta</th>
	</tr>
			<tr th:each = "tuote: ${Tuotteet}">
				<td th:text="${tuote.nimi}"></td>
				<td th:text="${tuote.vari}"></td>
				<td th:text="${tuote.valmistaja.nimi}"></td>
				<td th:text="${tuote.julkaisupaivamaara}"></td>
				<td th:text="${tuote.hinta}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>